.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 4rem;
    margin: 1% 8% 1% 8%;
    text-align: left;
    flex: 0 4 100%;
    justify-content: space-between;
    max-width: 100%;
}

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense__control input {
    box-sizing: border-box;
    font: inherit;
    padding: 0.6rem;
    border-radius: 9px;
    border: 1px solid rgb(76, 71, 71);
    max-width: 400px;
    min-width: 250px;
}

.new-expense__actions {
    text-align: right;
}
