.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 4rem;
    margin: 1% 3% 1% 3%;
    text-align: left;
    flex: 0 1 100%;
    justify-content: space-between;
    max-width: 100%;
}

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense__control input {
    box-sizing: border-box;
    font: inherit;
    padding: 0.6rem;
    border-radius: 9px;
    border: 1px solid rgb(76, 71, 71);
    width: 310px;
}

.new-expense__actions {
    text-align: right;
}

@media only screen and (max-width: 430px) {
    div.new-expense {
        width: auto;
        margin-right: 11px;
        margin-left: 11px;
    }
    .new-expense__control input {
        display: block;
        min-width: 240px;
        max-width: 320px;
        align-self: center;
    }

    .new-expense__actions {
        display: inline-block;
        width: 250px;
        max-width: 250px;
        justify-content: space-between;
        text-align: center;
        align-items: space-between;
    }

    .new-expense__controls {
        justify-content: center;
        align-items: center;
    }
}
