.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 4rem;
    margin: 1rem 1rem 1rem 2rem;
    text-align: left;
}

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.6rem;
    border-radius: 9px;
    border: 1px solid rgb(76, 71, 71);
    width: 20rem;
    max-width: 100%;
}

.new-expense__actions {
    text-align: right;
}
